.hero {
    padding-top: 0;
}

.wrapper {
    color: #fff;
    height: 80dvh;
    // background-image: url(/banner-1.jpg);
    background-image: url(/banner/ARM04142.webp);

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    // padding: 100px;
    // padding: clamp(3.125rem, 1.677rem + 6.1vw, 6.25rem);
    padding: 50px clamp(1.875rem, -0.152rem + 8.54vw, 6.25rem);

    transition: all 0.3s;

    animation: bg 35s infinite alternate-reverse linear;

    @media (max-width: 992px) {
        background-size: cover !important;
        // animation: none;
        animation-duration: 7s;
    }

    @media (max-width: 768px) {
        // background-size: contain !important;

        // height: 600px;
    }
}

.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

    p {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;

        letter-spacing: 2px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        translate: 10px;
    }

    h1 {
        font-weight: 700;
        // font-size: 100px;
        font-size: clamp(2.188rem, 0.305rem + 7.93vw, 6.25rem);
        line-height: 1.1;
    }

    h2 {
        font-size: 18px;
        line-height: 1.2;
        padding-bottom: 20px;
    }
}

@keyframes bg {
    0% {
        background-image: url(/banner/ARM04142.webp);
        // background-size: 100%;
    }
    20% {
        background-image: url(/banner/ARM04148.webp);
        // background-size: 140%;
    }
    40% {
        background-image: url(/banner/ARM04156.webp);
        // background-size: 140%;
    }
    60% {
        background-image: url(/banner/ARM04162.webp);
        // background-size: 120%;
    }
    80% {
        background-image: url(/banner/ARM04169.webp);
        // background-size: 140%;
    }
    100% {
        background-image: url(/banner/ARM04172.webp);
        // background-size: 110%;
    }
}

.reels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-rows: 800px;
    gap: 30px;

    margin-top: 50px;

    display: none;

    iframe {
        width: 100%;
        height: 800px;
    }
}
