@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  // color: #fff;
  // background-color: #000;
  font-family: "Raleway", sans-serif;
}

input {
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid black;
  padding: 3px 2px 6px;

  font-size: 16px;
  &:focus {
    // border: none;
    outline: none;
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-open {
  top: 0 !important;
}
.burger-open {
  span {
    &:nth-child(1) {
      transform: translateY(280%) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-280%) rotate(-45deg);
    }
  }
}

// LINK ANIMATION
.link {
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #1c1c1c;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0;
    height: 1px;
    background-color: #1c1c1c;
    transition: width 0.5s;
  }

  @media (hover: hover) {
    &:hover::after {
      width: 100%;
      left: 0;
      background-color: #1c1c1c;
    }
  }
}
