.header {
    padding: 20px 0;
}

.logo {
    img {
        width: 100px;

        @media (max-width: 768px) {
            width: 90px;
        }
        @media (max-width: 480px) {
            width: 70px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 480px) {
        gap: 20px;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
        font-size: 14px;
        font-weight: 600;
        color: #1c1c1c;
        text-transform: uppercase;
        line-height: 1.5;
    }

    @media (max-width: 992px) {
        max-width: 300px;
        width: 80%;
        height: 100dvh;

        position: fixed;
        top: 0;
        left: -100%;

        flex-direction: column;
        justify-content: center;
        gap: 25px;

        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);

        transition: all .3s;

    }
    

    
    
}

.box {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-left: auto;

    input {
        max-width: 200px;
        width: 100%;
    }
}

.cart {
    cursor: pointer;

    svg {
        width: 20px;
    }
}

.burger {
    cursor: pointer;
    position: relative;
    z-index: 3;

    svg {
        width: 28px;
    }

    display: none;

    @media (max-width: 992px) {
        display: block;
    }
}
