.header {
    padding: 20px 0;
}

.logo {
    img {
        width: 130px;

        @media (max-width: 768px) {
            width: 100px;
        }
        @media (max-width: 480px) {
            width: 80px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 480px) {
        gap: 20px;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
        font-size: 14px;
        font-weight: 600;
        color: #1c1c1c;
        text-transform: uppercase;
        line-height: 1.5;
    }

    @media (max-width: 992px) {
        display: none;
    }
}

.box {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-left: auto;

    input {
        max-width: 200px;
        width: 100%;
    }
}

.cart {
    cursor: pointer;

    svg {
        width: 20px;
    }
}

.burger {
    cursor: pointer;

    svg {
        width: 28px;
    }

    display: none;

    @media (max-width: 992px) {
        display: block;
    }
}
